body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cards {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  color: rgb(117, 117, 117);
  margin:  8px 8px 16px 8px;
  flex-grow: 1;
  width: 100%;
}
